%div.content
  %div.hero-unit
    %h2 Let's node!
    %p node.js: Evented I/O for 
      %a{href: "http://code.google.com/p/v8/"} &nbsp;V8 JavaScript
  .row
    :each article in articles.slice(0,1)
      .span7
        %h3 last article: #{article.title}
        %p by&nbsp;
          %a{href: "http://www.twitter.com/" + article.author.twitter}  #{article.author.name}
          &nbsp;on #{formatDate(article.date, "%Y.%m.%d")}
        %p .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
          %p
            = intro(article.markdown)
          %a{href: "/" + article.name} Read more...

     .span5
       = markdownEncode(description)
     .span4
       %h3 All articles
       %ul
         - var first=true
         :each article in articles.slice(0,20)
           %li
             %a{href: "/" + article.name}&=article.title
             &=" by " + article.author.name